#IDEA Directory
.idea/*
.idea

#HOSPITAL Assignment
Hospital_PS/target/
Hospital_PS/target
Hospital_PS/Hospital.iml
Hospital_PS/.classpath
Hospital_PS/.project
Hospital_PS/.settings
Hospital_PS/test-output
Hospital_PS/.idea
Hospital_PS/.idea/*

##Shopping_PS
Shopping_PS/target/
Shopping_PS/target
Shopping_PS/Shopping_PS.iml
Shopping_PS/classpath
Shopping_PS/.project
Shopping_PS/.settings
Shopping_PS/test-output
Shopping_PS/.idea
Shopping_PS/.idea/*